@import 'tailwindcss';
@import 'tw-animate-css';

@source ".";
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-white);
  --secondary-background: oklch(0.9821 0 0);
  --foreground: var(--color-neutral-800);
  --primary-foreground: var(--color-neutral-50);
  --primary: var(--color-neutral-800);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-foreground: var(--color-neutral-800);
  --tertiary: oklch(0.5693 0 0);
  --tertiary-foreground: oklch(1 0 0);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-700);
  --border: --alpha(var(--color-black) / 8%);
  --ring: var(--color-neutral-400);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #0099ff;
  --chart-2: #ff4d50;
  --chart-3: #facc00;
  --chart-4: #05e17a;
  --chart-5: #7a83ff;
  --chart-active-dot: #000;
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --input: --alpha(var(--color-black) / 10%);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-foreground: color-mix(in srgb, var(--color-neutral-500) 90%, var(--color-black));
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
}

.dark {
  --background: color-mix(in srgb, var(--color-neutral-950) 95%, var(--color-white));
  --secondary-background: oklch(23.93% 0 0);
  --foreground: var(--color-neutral-100);
  --primary-foreground: var(--color-neutral-800);
  --primary: var(--color-neutral-100);
  --secondary-foreground: var(--color-neutral-100);
  --secondary: --alpha(var(--color-white) / 4%);
  --tertiary-foreground: oklch(1 0 0);
  --tertiary: oklch(0.5693 0 0);
  --border: --alpha(var(--color-white) / 6%);
  --ring: var(--color-neutral-500);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #008ae5;
  --chart-2: #ff6669;
  --chart-3: #e0b700;
  --chart-4: #04c86d;
  --chart-5: #7a83ff;
  --chart-active-dot: #fff;
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
  --accent: --alpha(var(--color-white) / 4%);
  --accent-foreground: var(--color-neutral-100);
  --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --card-foreground: var(--color-neutral-100);
  --destructive: color-mix(in srgb, var(--color-red-500) 90%, var(--color-white));
  --input: --alpha(var(--color-white) / 8%);
  --muted: --alpha(var(--color-white) / 4%);
  --muted-foreground: color-mix(in srgb, var(--color-neutral-500) 90%, var(--color-white));
  --popover: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --popover-foreground: var(--color-neutral-100);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --animate-caret-blink: 1s ease-out infinite caret-blink;
  --animate-toast-success-odd: toast-success-odd 0.32s cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-success-even: toast-success-even 0.32s cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-error-odd: toast-error-odd 0.28s cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-error-even: toast-error-even 0.28s cubic-bezier(0.5, 1, 0.89, 1);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-input: var(--input);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    to {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes toast-success-odd {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes toast-error-odd {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
  @keyframes toast-success-even {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes toast-error-even {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground font-base bg-secondary-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  a {
    @apply ml-auto inline-block underline-offset-4 underline;
  }

  label:has(+ [data-slot='input-control']) {
    @apply mb-2;
  }
}
